.cardContainer {

    justify-content: center;
    align-items: center;
}

.slide-div {
    height: 300px;

}

.cardBody {
    height: 250px;

}

.cardBtnContainer {
    bottom: 0;
    justify-content: center;
    margin-bottom: 2px;


}

.description {
    text-align: justify;
    word-spacing:-1px;

}

.cardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}